.main-hero{
    background-image: url('/images/banner-bg.jpg');
    background-color: $backgroundLight;
    background-size: cover;
    background-repeat: no-repeat;
}
.page-header{
    background-color: $backgroundShadow;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.page-nav{
    .b-g-menu{
        display: none;
        padding: 1.5rem 0.5rem;
        font-size: 2rem;
    }
}
.page-logo{
    text-transform: uppercase;
    text-decoration: none;
    color: $colorDark;
    font-weight: bold;
    font-size: 2rem;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    li{
        border-right: 0.0625rem solid $borderColor;
        &:last-child{
            border: none;
        }
        a{
            text-decoration: none;
            color: $colorLight;
            text-transform: uppercase;
            font-weight: bold;
            display: block;
            padding: 1.5rem 0.5rem;
            transition: 0.5s all;
            @include hover-light;

        }
    }
}
.main-banner{
    text-align: center;
    padding-top: 14rem;
    .main-banner-title{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 6.25rem;
    }
    .main-banner-text{
        padding-top: 3.75rem;
        line-height: 1.5rem;
        color: $colorText;
        max-width: 42rem;
        margin-inline: auto;
    }
    .main-banner-buttons{
        padding-top: 4rem;
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        .main-banner-btn{
            padding-block: 1rem;
            width: 12.5rem;
            @include hover-light;
        }
    }
    .main-banner-link{
        display: inline-block;
        margin-top: 10rem;
        padding: 0.625rem;
        img{
            width: 2rem;
            height: 2rem;
        }
    }
}